.tabs-wrapper {
    padding-top: 92px;
}

.nav-tabs {
    @include clearfix;
    &>li {
		width: 25%;
        text-align: center;
        &:not(:last-child) {
            border-right: 1px solid #e4e8e8;
        }

        a {
            padding: 40px 20px;
            margin: 0;
            font-size: 0.78rem;
            color: #8a8a8a;
            font-family: 'Montserrat SemiBold';
            text-transform: uppercase;
            background-color: #fff;
            border: none;
            border-radius: 0;
            transition: background-color 0.3s;
            @include mini-laptop {
            	padding: 25px 15px;
            	font-size: 0.7rem;
            }
        }
        &.active {
            border-right: none;
            a,
            a:focus,
            a:hover {
                background-color: #e4e8e8;
                color: #8a8a8a;
                border: none;
            }
        }
        &:hover {
            a {
                background-color: #e4e8e8;
            }
        }
    }
    &--small {
    	li {
    		width: 33.3%;
    	}
    }
}

.tab-content {
}

.product {
	&-list {
		padding: 5% 0;
		@include tablet {
			padding-bottom: 0;
		}
	}
	&-item {
		text-align: center;
		color: #656565;
		@include tablet {
			margin-bottom: 30px;
		}
	}
	&-heading {
		@extend .thumbnails-heading;
		text-align: center;
	}

	&-img {
		margin-bottom: 60px;
		@include tablet {
			margin-bottom: 20px;
		}
	}
	&-text {
		font-size: 0.625rem;
		max-width: 250px;
		margin: 0 auto 15px;
	}
	&-info {
		font-size: 0.625rem;
		font-family: 'Montserrat';
		text-transform: uppercase;
	}
}