<header class="header" style="background-image: url('images/banner-bg.jpg')">
    <div class="clearfix">
        <a class="header-left">
			<img src="images/logo.png" alt="">
		</a>
        <div class="header-right">
            <ul class="lang">
                <li><a href="#">RU</a></li>
                <li><a href="#">En</a></li>
            </ul>
            <div class="header-nav">
            	<ul>
            		<li><a href="#">обзор</a></li>
            		<li class="active"><span>о компании</a></span>
            		<li><a href="#">услуги</a></li>
            		<li><a href="#">каталог товаров</a></li>
            		<li><a href="#">контакты</a></li>
            	</ul>
            </div>
            <div class="gamburger-menu">
                <div id="nav-icon3">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="top-banner text-center">
        <div class="banner-logo">
            <img src="images/rover-logo.png" alt="">
        </div>
        <div class="banner-heading">Range Rover Velar <span>стандарты  роскоши  и  возможностей</span></div>
    </div>
    <div class="header-scroll">
        scroll down for overview
    </div>
    <div class="header-social">
        <span>follow</span>
        <ul>
            <li>
                <a href="#">
					<i class="fa fa-facebook" aria-hidden="true"></i>
    			</a>
            </li>
            <li>
                <a href="#">
    				<i class="fa fa-twitter" aria-hidden="true"></i>
    			</a>
            </li>
            <li>
                <a href="#">
    				<i class="fa fa-youtube" aria-hidden="true"></i>
    			</a>
            </li>
            <li>
                <a href="#">
    				<i class="fa fa-instagram" aria-hidden="true"></i>
    			</a>
            </li>
            <li>
                <a href="#">
    				<i class="fa fa-google-plus" aria-hidden="true"></i>
    			</a>
            </li>
        </ul>
    </div>
    <div class="header-copyright">
        copyright © 2018 land rover inc.
    </div>
</header>