<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <div class="wrapper">
        <main id="main">
            //= header.html
            <div class="mobile-banner">
                <div class="mobile-item" style="background-image: url(images/mobile-banner-1.jpg);">
                    <div class="mobile-heading">design</div>
                </div>
                <div class="mobile-item" style="background-image: url(images/mobile-banner-2.jpg);">
                    <div class="mobile-heading">inside</div>
                </div>
            </div>
            <section class="first-section text-center" id="section-1">
                <div class="container-fluid">
                    <div class="heading-h1 hidden-xs hidden-sm">Velar 2018 <span>design & technologies</span></div>
                    <div class="section-text hidden-xs hidden-sm">
                        Представляем новое пополнение семейства Range Rover. Range Rover Velar отличается притягательными четкими линиями и выразительными элементами дизайна, а также обещает стать роскошным внедорожником с непревзойденными ходовыми характеристиками. Именно этого ждут от наших автомобилей.
                    </div>
                    <div class="heading-description hidden-xs hidden-sm">ознакомтесь с ключевыми инновациями</div>
                    <div class="section-img">
                        <div class="section-describe">
                            <div class="slide-info" data-id="slide-1">
                                <div class="describe-heading">LAND ROVER UGUIDE</div>
                                <p>Приложение Land Rover iGuide рассказывает обо всех важных функциях и органах управления вашего нового Range Rover Velar с помощью новейших технологий дополненной реальности. В нем также дублируется информация из мобильной версии руководства пользователя, благодаря чему Вы всегда с легкостью сможете найти ответ на любой вопрос, касающийся автомобиля</p>
                            </div>
                            <div class="slide-info" data-id="slide-2">
                                <div class="describe-heading">Облегченная <span>алюминеевая конструкция</span></div>
                                <p>Облегченная алюминиевая конструкция Алюминиевая конструкция кузова Range Rover Velar была разработана для обеспечения оптимальной безопасности и прочности, а также высокой экономичности. Исключительно прочные алюминиевые боковые элементы и жесткие демпфирующие панели соединяются с помощью заднего ребра динамической жесткости, что позволило уменьшить вес без ущерба для безопасности.
                                </p>
                            </div>
                            <div class="slide-info" data-id="slide-3">
                                <div class="describe-heading">Приложение <span>InControl Remore</span></div>
                                <p>InControl Remore — это многофункциональное приложение, позволяющее отслеживать состояние Вашего Range Rover Velar и управлять им со смартфона или смарт-часов. Запустите двигатель дистанционно, чтобы предварительно прогреть или охладить салон, заприте или откройте автомобиль, найдите Ваш Range Rover Velar на карте или с помощью звукового и визуального сигнала, а также отслеживайте маршруты — все с помощью одного приложения.</p>
                            </div>
                            <div class="slide-info" data-id="slide-4">
                                <div class="describe-heading">Подвеска<span>с технологией Adaptive Dynamics</span></div>
                                <p>Эта система 500 раз в секунду считывает данные о параметрах движения автомобиля и поворотах рулевого колеса, обеспечивая точную управляемость и максимальную плавность хода. Она реагирует на команды водителя и ситуацию на дороге, предоставляя возможность точного регулирования настроек жесткости амортизаторов во всем диапазоне значений.</p>
                            </div>
                        </div>
                        <div class="img-wrapper">
                            <img src="images/rover-1.png" alt="">
                            <ul class="pagination-slider">
                                <li class="plus plus-1" id="slide-1">
                                    <img src="images/plus.png" alt="" class="img-transparent">
                                    <img src="images/plus-full.png" alt="" class="img-full hidden">
                                </li>
                                <li class="plus plus-2" id="slide-2">
                                    <img src="images/plus.png" alt="" class="img-transparent">
                                    <img src="images/plus-full.png" alt="" class="img-full hidden">
                                </li>
                                <li class="plus plus-3" id="slide-3">
                                    <img src="images/plus.png" alt="" class="img-transparent">
                                    <img src="images/plus-full.png" alt="" class="img-full hidden">
                                </li>
                                <li class="plus plus-4" id="slide-4">
                                    <img src="images/plus.png" alt="" class="img-transparent">
                                    <img src="images/plus-full.png" alt="" class="img-full hidden">
                                </li>
                        </div>
                    </div>
                </div>
            </section>
            <section class="second-section text-center">
                <div class="container-fluid">
                    <div class="describe-heading describe-heading--inverse visible-xs visible-sm">design</div>
                    <div class="heading-h2">exterior & inerior</div>
                    <div class="section-text">Чистые линии, отражающие уверенность и яркую индивидуальность. Range Rover Velar отличается по-настоящему прогрессивным дизайном. Изящный, элегантный автомобиль с выразительной внешностью и притягательным современным дизайном. Range Rover Velar приковывает к себе взгляды, куда бы вы ни отправились.</div>
                    <div class="heading-description hidden-xs hidden-sm">ознакомтесь с основными характеристиками</div>
                    <div class="section-img section-img--inverse hidden-xs hidden-sm">
                        <div class="section-describe section-describe--inverse">
                            <div class="slide-info" data-id="slide-5">
                                <div class="describe-heading">Ткани <span>премиум-класса</span></div>
                                <p>В сотрудничестве с именитыми дизайнерами и мастерами компании Kvadrat были созданы прочные ткани с содержанием шерсти и замши, доступные в широком спектре цветов. Они могут стать хорошей альтернативой отделке из кожи. Эти современные и мастерски выполненные ткани доступны для всех комплектций</p>
                            </div>
                            <div class="slide-info" data-id="slide-6">
                                <div class="describe-heading"><span>Матрично — лазерные светодиодные головные фары</span></div>
                                <p>Эти опциональные матрично-лазерные светодиодные фары отличаются смелым дизайном и обеспечивают непревзойдённый уровень освещения, максимально приближенный к дневному, позволяя глазам меньше уставать. При движении на скоростях выше 80 км/ч лазерная технология увеличивает яркость фар в режиме дальнего света, благодаря чему они освещают пространство на расстоянии до 550 м от автомобиля. Функция адаптивной регулировки луча фар использует направленную вперед камеру для обнаружения встречных автомобилей и регулирует луч дальнего света, создавая «тени» вокруг находящихся впереди участников дорожного движения, чтобы вы могли пользоваться фарами в режиме дальнего света и не ослеплять при этом других водителей.

                                </p>
                            </div>
                            <div class="slide-info" data-id="slide-7">
                                <div class="describe-heading"><span>Проекционный дисплей на лобовое стекло</span></div>
                                <p>Новый опциональный проекционный дисплей на лобовое стекло от Land Rover отображает ключевую информацию об автомобиле в виде цветных графических изображений высокого разрешения и позволяет просматривать команды водителя и полезные данные.</p>
                            </div>
                            <div class="slide-info" data-id="slide-8">
                                <div class="describe-heading">Подвеска <span>с технологией Adaptive Dynamics</span></div>
                                <p>Эта система 500 раз в секунду считывает данные о параметрах движения автомобиля и поворотах рулевого колеса, обеспечивая точную управляемость и максимальную плавность хода. Она реагирует на команды водителя и ситуацию на дороге, предоставляя возможность точного регулирования настроек жесткости амортизаторов во всем диапазоне значений.</p>
                            </div>
                            <!-- <div class="describe-heading">интерьер <span>спокойствие и безмятежность</span></div>
                            <p>Все детали - от спортивной «комнадирской» посадки, проекционного дисплея на лобовое стекло и двух 10-дюймовых сенсорных экранов высокого разрешения до индивидуальных выдвижных подлокотников и регулируемой подсветки интерьера - помогают обеспечить уникальные и всегда положительные впечатления от вождения.</p>
                            <a href="#">click to explore</a> -->
                        </div>
                        <div class="img-wrapper">
                            <img src="images/rover-2.png" alt="">
                            <ul class="pagination-slider">
                                <li class="plus plus-1" id="slide-5">
                                    <img src="images/plus.png" alt="" class="img-transparent">
                                    <img src="images/plus-full.png" alt="" class="img-full hidden">
                                </li>
                                <li class="plus plus-2" id="slide-6">
                                    <img src="images/plus.png" alt="" class="img-transparent">
                                    <img src="images/plus-full.png" alt="" class="img-full hidden">
                                </li>
                                <li class="plus plus-3" id="slide-7">
                                    <img src="images/plus.png" alt="" class="img-transparent">
                                    <img src="images/plus-full.png" alt="" class="img-full hidden">
                                </li>
                                <li class="plus plus-4" id="slide-8">
                                    <img src="images/plus.png" alt="" class="img-transparent">
                                    <img src="images/plus-full.png" alt="" class="img-full hidden">
                                </li>
                        </div>
                    </div>
                </div>
            </section>
            <section class="tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#interer" aria-controls="interer" role="tab" data-toggle="tab">Интерьер</a></li>
                    <li role="presentation"><a href="#exterer" aria-controls="exterer" role="tab" data-toggle="tab">екстерьер</a></li>
                    <li role="presentation"><a href="#advantages" aria-controls="advantages" role="tab" data-toggle="tab">Ходовые характеристики</a></li>
                    <li role="presentation"><a href="#universal" aria-controls="universal" role="tab" data-toggle="tab">универсальность</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="interer">
                        <img src="images/rover-tab.jpg" alt="">
                    </div>
                    <div role="tabpanel" class="tab-pane" id="exterer">
                        <div class="tab-pane-wrapper">
                            <div class="describe-heading">Экстерьер</div>
                            <p>Range Rover Velar отличается по-настоящему прогрессивным дизайном. Нисходящая крыша и опоясывающая весь кузов средняя линия, характерны для любителей Range Rover, гармонично сочетаются с простотой, внушающей уверенность и придающей индивидуальность. Выразительные элементы дизайна — от переднего бампера до задней части автомобиля — делают новую модель еще эффективнее.
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="advantages">
                        <div class="tab-pane-wrapper">
                            <div class="describe-heading">Системы помощи при ввождении
</div>
                            <p>Range Rover Velar использует новейшие технолигии, например, электронную противобуксовочную систему (ETC), оптимизирующую сцепление, и электронную систему распределения тормозных усилий (EBD), которая автомотически регулирует тормозное усилие, подаваемое к каждой оси, чтобы уменьшить тормозной путь.</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="universal">
                        <div class="tab-pane-wrapper">
                            <div class="describe-heading">Пневматическая подвеска с электронным управлением</div>
                            <p>Ощущение уверености и спокойствия не покидает водителя даже при преодолении сложных препятсвий. Независимая пневмоподвеска всех четырех колес с электронным управлением предоставляет непревзойденные возможности в любых условиях, обеспечивая исключительную артикуляцию колес и максимальную устойчивость. Система готова к трудностям, легко справляется с любыми нагрузками и обеспечивает непревзойденную плавность хода Range Rover Velar даже в самых сложных дорожных условиях. Для повышения ходовых качеств эта система при необходимости плавно регулирует высоту подвески.
</p>
                        </div>

                    </div>
                </div>
            </section>
            <section class="history text-center" data-parallax="scroll" data-image-src="images/thumbnails-bg.jpg">
                <div class="container-fluid hidden-xs">
                    <div class="heading-h2">история range rover velar</div>
                    <div class="section-text">Чтобы сохранить в тайне прототип первого в истории Range Rover (1969), дизайнеры и конструкторы, трудившиеся над этим революционным автомобилем, назвали его ‘Velar ’, от итальянского ‘velare’ — «окутывать» или «вуалировать». На первые 26 прототипов был даже установлен бейдж с тем же логотипом, чтобы скрыть принадлежность бренду.</div>
                    <div class="heading-description heading-description--big hidden-xs hidden-sm">ознакомтесь с основными возможностями</div>
                </div>
                <div class="describe-heading visible-xs">INSIDE <span>Двигатель</span></div>
                <div class="container-fluid animatedParent">
                    <div class="thumbnails-item">
                        <div class="thumbnails-img animated fadeInLeft" data-id='1'>
                            <img src="images/number-mobile-1.png" alt="" class="thumbnails-number-mobile">
                            <img src="images/article-1.jpg" alt="">
                        </div>
                        <div class="thumbnails-text animated fadeInRight" data-id='2'>
                            <div class="thumbnails-number">
                                <img src="images/number-1.png" alt="">
                            </div>
                            <div class="thumbnails-heading">
                                возможности <span>на бездорожье</span>
                            </div>
                            Range Rover Velar отличается превоходными характеристиками. Его дорожный просвет состовляет 251* мм, угол продольной необходимости - 20,1*, а угол сьезда - 26,3*.Обтекаемая панель пола предотвращает получение повреждений, а дифференциал с электронным управлением может обеспечивать отличное сцепление даже в самых сложных условиях.
                        </div>
                    </div>
                    <div class="thumbnails-item">
                        <div class="thumbnails-img thumbnails-img--inverse animated fadeInLeft" data-id='3'>
                            <img src="images/number-mobile-2.png" alt="" class="thumbnails-number-mobile thumbnails-number-mobile--inverse">
                            <img src="images/article-2.jpg" alt="">
                        </div>
                        <div class="thumbnails-text fadeInRight animated" data-id='4'>
                            <div class="thumbnails-number thumbnails-number--inverse">
                                <img src="images/number-2.png" alt="">
                            </div>
                            <div class="thumbnails-heading">глубина <span>преодолеваемого брода</span></div>
                            Range Rover Velar отличается превоходными характеристиками. Его дорожный просвет состовляет 251* мм, угол продольной необходимости - 20,1*, а угол сьезда - 26,3*.Обтекаемая панель пола предотвращает получение повреждений, а дифференциал с электронным управлением может обеспечивать отличное сцепление даже в самых сложных условиях.
                        </div>
                    </div>
                    <div class="thumbnails-item">
                        <div class="thumbnails-img animated fadeInLeft" data-id='5'>
                            <img src="images/number-mobile-3.png" alt="" class="thumbnails-number-mobile">
                            <img src="images/article-4.jpg" alt="">
                        </div>
                        <div class="thumbnails-text animated fadeInRight" data-id='6'>
                            <div class="thumbnails-number">
                                <img src="images/number-3.png" alt="">
                            </div>
                            <div class="thumbnails-heading">буксировка <span>грузов</span></div>
                            Range Rover Velar отличается превоходными характеристиками. Его дорожный просвет состовляет 251* мм, угол продольной необходимости - 20,1*, а угол сьезда - 26,3*.Обтекаемая панель пола предотвращает получение повреждений, а дифференциал с электронным управлением может обеспечивать отличное сцепление даже в самых сложных условиях.
                        </div>
                    </div>
                    <div class="thumbnails-item thumbnails-item--awards">
                        <div class="thumbnails-text animated fadeInLeft" data-id='7'>
                            <div class="thumbnails-number thumbnails-number--inverse">
                                <img src="images/awards.png" alt="">
                            </div>
                            <div class="thumbnails-heading">BORN Awards’18 <span>Land Rover</span></div>
                            The Land Rover BORN Awards is an annual competition celebrating exceptional creative achievements in design. Through exhibition, celebration and conversation, the Awards provide winners with an opportunity for international recognition and exposure to business and industry leaders.
                        </div>
                        <div class="thumbnails-img thumbnails-img--inverse embed-responsive embed-responsive-16by9 animated fadeInRight" data-d="8">
                            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/tFHxGETa7Kg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section>
            <section class="complect text-center hidden-xs">
                <div class="heading-h2">комплектации range rover velar</div>
                <div class="section-text">самый современный и революционный среднеразмерный внедорожник из когда-либо созданных land rover. Облик range rover velar отличается целым рядом дизайнерских особенностей, таких как «парящая» линия крыши и эффектная линия опоясывающай весь кузов. а внешность range rover velar r-dynamic разрывает стереотипы благодаря уникальным дизайнерским решениям, делающим автомобиль поистине неотразимым.</div>
                <div class="heading-description heading-description--small hidden-xs hidden-sm">выберите комплектацию</div>
                <div class="tabs-wrapper">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs--small" role="tablist">
                        <li role="presentation" class="active"><a href="#velar" aria-controls="velar" role="tab" data-toggle="tab">Velar</a></li>
                        <li role="presentation"><a href="#r-dynamic" aria-controls="r-dynamic" role="tab" data-toggle="tab">R-Dynamic</a></li>
                        <li role="presentation"><a href="#edition" aria-controls="edition" role="tab" data-toggle="tab">First edition</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="velar">
                            <div class="container-fluid">
                                <div class="product-list">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <img src="images/velar-1.png" alt="">
                                                </div>
                                                <div class="product-heading">velar <span>3 982 000 руб</span></div>
                                                <div class="product-text">Непревзойденная элегантность, передовые технологии и выдающиеся ходовые характеристики.</div>
                                                <div class="product-info">ЦЕНА ВКЛЮЧАЕТ СЕРВИСНЫЙ ПАКЕТ</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <img src="images/velar-2.png" alt="">
                                                </div>
                                                <div class="product-heading">velar s <span>3 982 000 руб</span></div>
                                                <div class="product-text">Непревзойденная элегантность, передовые технологии и выдающиеся ходовые характеристики.</div>
                                                <div class="product-info">ЦЕНА ВКЛЮЧАЕТ СЕРВИСНЫЙ ПАКЕТ</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <img src="images/velar-3.png" alt="">
                                                </div>
                                                <div class="product-heading">velar se <span>3 982 000 руб</span></div>
                                                <div class="product-text">Непревзойденная элегантность, передовые технологии и выдающиеся ходовые характеристики.</div>
                                                <div class="product-info">ЦЕНА ВКЛЮЧАЕТ СЕРВИСНЫЙ ПАКЕТ</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="r-dynamic">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="edition">
                        </div>
                    </div>
                </div>
            </section>
            <section class="map-wrapper">
                <div class="contacts">
                    <div class="contacts-heading">услуги</div>
                    <div class="contacts-item visible-md visible-lg">
                        <div class="contacts-h2">ближайший салон range rover</div>
                        Вы можете заказать автомобиль в ближайшем салоне Range Rover.</div>
                    <div class="contacts-item">
                        <div class="contacts-h2">гарантийное обслуживание</div>
                        Вы можете дополнительное гарантийное обслуживание. Позвоните нам или оставьте заявку, чтобы узнать как то сделать.
                    </div>
                    <a role="button" class="hidden-xs hidden-sm" type="button" data-toggle="modal" data-target="#myModal">Оставить заявку</a>
                    <form action="#" class="form js_validate visible-xs visible-sm">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ваше имя" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" data-validate="phone" class="form-control" placeholder="Номер телефона" required>
                        </div>
                        <div class="form-group form-group--margin">
                            <button class="btn btn-success btn-lg" type="submit">оставить заявку</button>
                        </div>
                    </form>
                </div>
                <p class="contacts-mobile-description visible-sm visible-xs">Вы можете заказать автомобиль в ближайшем салоне Range Rover.</p>
                <div id="map" class="map embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10259.426595039313!2d36.2132881!3d49.995297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3ccbf20cec642605!2z0JDQstGC0L4g0JPRgNCw0YQg0Jwg4oCUINC-0YTQuNGG0LjQsNC70YzQvdGL0Lkg0LTQuNC70LXRgCDQr9Cz0YPQsNGALCDQm9C10L3QtCDQoNC-0LLQtdGAIChKYWd1YXIsIExhbmQgUm92ZXIpINCl0LDRgNGM0LrQvtCy!5e0!3m2!1sru!2sua!4v1515919090213" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </section>
        </main>
        //= footer.html