<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <div class="wrapper">
        <main id="main">
            //= header.html
            <section class="first-section text-center" id="section-1">
                <div class="container-fluid">
                    <div class="heading-h1">Velar 2018 <span>design & technologies</span></div>
                    <div class="section-text">
                        Представляем новое пополнение семейства Range Rover. Range Rover Velar отличается притягательными четкими линиями и выразительными элементами дизайна, а также обещает стать роскошным внедорожником с непревзойденными ходовыми характеристиками. Именно этого ждут от наших автомобилей.
                    </div>
                    <div class="heading-description">ознакомтесь с ключевыми инновациями</div>
                    <div class="section-img">
                        <div class="section-describe">
                            <div class="describe-heading">INGENIUM <span>Двигатель</span></div>
                            Полностью алюминиевые двигатели Ingenium относятся к новейшему поколению перспективных разработок Land Rover. Эти двигатели легче, мощнее и эффективнее, чем их предшественники благодаря целому ряду инноваций, таких как система динамического изменения фаз газораспределения, которая повышает производительность и топливную экономичность двигателя, одновременно cнижая уровень выбросов CO2.
                        </div>
                        <img src="images/rover-1.png" alt="">
                    </div>
                </div>
            </section>
            <section class="second-section text-center">
                <div class="container-fluid">
                    <div class="heading-h2">exterior & inerior</div>
                    <div class="section-text">Чистые линии, отражающие уверенность и яркую индивидуальность. Range Rover Velar отличается по-настоящему прогрессивным дизайном. Изящный, элегантный автомобиль с выразительной внешностью и притягательным современным дизайном. Range Rover Velar приковывает к себе взгляды, куда бы вы ни отправились.</div>
                    <div class="heading-description">ознакомтесь с основными характеристиками</div>
                    <div class="section-img">
                        <div class="section-describe section-describe--inverse">
                            <div class="describe-heading">интерьер <span>спокойствие и безмятежность</span></div>
                            Все детали - от спортивной «комнадирской» посадки, проекционного дисплея на лобовое стекло и двух 10-дюймовых сенсорных экранов высокого разрешения до индивидуальных выдвижных подлокотников и регулируемой подсветки интерьера - помогают обеспечить уникальные и всегда положительные впечатления от вождения.
                            <a href="#">click to explore</a>
                        </div>
                        <img src="images/rover-2.png" alt="">
                    </div>
                </div>
            </section>
            <section class="tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#interer" aria-controls="interer" role="tab" data-toggle="tab">Интерьер</a></li>
                    <li role="presentation"><a href="#exterer" aria-controls="exterer" role="tab" data-toggle="tab">екстерьер</a></li>
                    <li role="presentation"><a href="#advantages" aria-controls="advantages" role="tab" data-toggle="tab">Ходовые характеристики</a></li>
                    <li role="presentation"><a href="#universal" aria-controls="universal" role="tab" data-toggle="tab">универсальность</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="interer">
                        <img src="images/rover-tab.jpg" alt="">
                    </div>
                    <div role="tabpanel" class="tab-pane" id="exterer">...</div>
                    <div role="tabpanel" class="tab-pane" id="advantages">...</div>
                    <div role="tabpanel" class="tab-pane" id="universal">...</div>
                </div>
            </section>
            <section class="history text-center">
                <div class="container-fluid">
                    <div class="heading-h2">история range rover velar</div>
                    <div class="section-text">Чтобы сохранить в тайне прототип первого в истории Range Rover (1969), дизайнеры и конструкторы, трудившиеся над этим революционным автомобилем, назвали его ‘Velar ’, от итальянского ‘velare’ — «окутывать» или «вуалировать». На первые 26 прототипов был даже установлен бейдж с тем же логотипом, чтобы скрыть принадлежность бренду.</div>
                    <div class="heading-description heading-description--big">ознакомтесь с основными возможностями</div>
                </div>
                <div class="container-fluid">
                    <div class="thumbnails-item">
                        <div class="thumbnails-img">
                            <img src="images/article-1.jpg" alt="">
                        </div>
                        <div class="thumbnails-text">
                            <div class="thumbnails-heading">
                                возможности <span>на бездорожье</span>
                            </div>
                            Range Rover Velar отличается превоходными характеристиками. Его дорожный просвет состовляет 251* мм, угол продольной необходимости - 20,1*, а угол сьезда - 26,3*.Обтекаемая панель пола предотвращает получение повреждений, а дифференциал с электронным управлением может обеспечивать отличное сцепление даже в самых сложных условиях.
                        </div>
                    </div>
                    <div class="thumbnails-item">
                        <div class="thumbnails-img thumbnails-img--inverse">
                            <img src="images/article-2.jpg" alt="">
                        </div>
                        <div class="thumbnails-text">
                            <div class="thumbnails-heading">глубина <span>преодолеваемого брода</span></div>
                            Range Rover Velar отличается превоходными характеристиками. Его дорожный просвет состовляет 251* мм, угол продольной необходимости - 20,1*, а угол сьезда - 26,3*.Обтекаемая панель пола предотвращает получение повреждений, а дифференциал с электронным управлением может обеспечивать отличное сцепление даже в самых сложных условиях.
                        </div>
                    </div>
                    <div class="thumbnails-item">
                        <div class="thumbnails-img">
                            <img src="images/article-4.jpg" alt="">
                        </div>
                        <div class="thumbnails-text">
                            <div class="thumbnails-heading">буксировка <span>грузов</span></div>
                            Range Rover Velar отличается превоходными характеристиками. Его дорожный просвет состовляет 251* мм, угол продольной необходимости - 20,1*, а угол сьезда - 26,3*.Обтекаемая панель пола предотвращает получение повреждений, а дифференциал с электронным управлением может обеспечивать отличное сцепление даже в самых сложных условиях.
                        </div>
                    </div>
                    <div class="thumbnails-item">
                        <div class="thumbnails-img thumbnails-img--inverse embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/tFHxGETa7Kg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="thumbnails-text">
                            <div class="thumbnails-heading">BORN Awards’18 <span>Land Rover</span></div>
                            The Land Rover BORN Awards is an annual competition celebrating exceptional creative achievements in design. Through exhibition, celebration and conversation, the Awards provide winners with an opportunity for international recognition and exposure to business and industry leaders.
                        </div>
                    </div>
                </div>
            </section>
            <section class="complect text-center">
                <div class="heading-h2">комплектации range rover velar</div>
                <div class="section-text">самый современный и революционный среднеразмерный внедорожник из когда-либо созданных land rover. Облик range rover velar отличается целым рядом дизайнерских особенностей, таких как «парящая» линия крыши и эффектная линия опоясывающай весь кузов. а внешность range rover velar r-dynamic разрывает стереотипы благодаря уникальным дизайнерским решениям, делающим автомобиль поистине неотразимым.</div>
                <div class="heading-description heading-description--small">выберите комплектацию</div>
                <div class="tabs-wrapper">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs--small" role="tablist">
                        <li role="presentation" class="active"><a href="#velar" aria-controls="velar" role="tab" data-toggle="tab">Velar</a></li>
                        <li role="presentation"><a href="#r-dynamic" aria-controls="r-dynamic" role="tab" data-toggle="tab">R-Dynamic</a></li>
                        <li role="presentation"><a href="#edition" aria-controls="edition" role="tab" data-toggle="tab">First edition</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="velar">
                            <div class="container-fluid">
                                <div class="product-list">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <img src="images/velar-1.png" alt="">
                                                </div>
                                                <div class="product-heading">velar <span>3 982 000 руб</span></div>
                                                <div class="product-text">Непревзойденная элегантность, передовые технологии и выдающиеся ходовые характеристики.</div>
                                                <div class="product-info">ЦЕНА ВКЛЮЧАЕТ СЕРВИСНЫЙ ПАКЕТ</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <img src="images/velar-2.png" alt="">
                                                </div>
                                                <div class="product-heading">velar s <span>3 982 000 руб</span></div>
                                                <div class="product-text">Непревзойденная элегантность, передовые технологии и выдающиеся ходовые характеристики.</div>
                                                <div class="product-info">ЦЕНА ВКЛЮЧАЕТ СЕРВИСНЫЙ ПАКЕТ</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <img src="images/velar-3.png" alt="">
                                                </div>
                                                <div class="product-heading">velar se <span>3 982 000 руб</span></div>
                                                <div class="product-text">Непревзойденная элегантность, передовые технологии и выдающиеся ходовые характеристики.</div>
                                                <div class="product-info">ЦЕНА ВКЛЮЧАЕТ СЕРВИСНЫЙ ПАКЕТ</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="r-dynamic">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="edition">
                        </div>
                    </div>
                </div>
            </section>
            <section class="map-wrapper">
                <div class="contacts">
                    <div class="contacts-item">
                        <div class="contacts-heading">услуги</div>
                        <div class="contacts-h2">ближайший салон range rover</div>
                        Вы можете заказать автомобиль в ближайшем салоне Range Rover.</div>
                    <div class="contacts-item">
                        <div class="contacts-h2">гарантийное обслуживание</div>
                        Вы можете дополнительное гарантийное обслуживание. Позвоните нам или оставьте заявку, чтобы узнать как то сделать.
                    </div>
                </div>
                <div id="map" class="map embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10259.426595039313!2d36.2132881!3d49.995297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3ccbf20cec642605!2z0JDQstGC0L4g0JPRgNCw0YQg0Jwg4oCUINC-0YTQuNGG0LjQsNC70YzQvdGL0Lkg0LTQuNC70LXRgCDQr9Cz0YPQsNGALCDQm9C10L3QtCDQoNC-0LLQtdGAIChKYWd1YXIsIExhbmQgUm92ZXIpINCl0LDRgNGM0LrQvtCy!5e0!3m2!1sru!2sua!4v1515919090213" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </section>
        </main>
        //= footer.html
    </div>
    <script src="js/all.min.js"></script>
</body>

</html>